# Node.js
node_modules/
npm-debug.log*
.yarn-integrity
yarn-error.log*

# Environment
.env

# Build output
dist/
coverage/

# Editor directories and files
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
